.form-control {
	border: .1429rem solid #f1f1f1;
	font: 1.125rem/2rem 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 0 .9375rem;
	background: none;
	letter-spacing: .2429rem;
	border-radius: 0;
	color: #55565b;
	font-weight: 500;
	height: 3.125rem;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control:focus {
	border-color: #c9cacd;
	color: #55565b;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control.form-control-v1 {
	border-width: 0 0 .1429rem;
	padding-left: 0;
	padding-right: 0;
}

textarea.form-control {
	padding-top: 1rem;
	padding-bottom: .7143rem;
	min-height: 180px;
}

input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder,textarea:focus:-moz-placeholder {
	color: transparent;
}

/* FF 4-18 */

input:focus::-moz-placeholder,textarea:focus::-moz-placeholder {
	color: transparent;
}

/* FF 19+ */

input:focus:-ms-input-placeholder,textarea:focus:-ms-input-placeholder {
	color: transparent;
}

/* IE 10+ */

/******* newsletter form styles *******/

.waituk_newsletter-form {
	max-width: 35.13rem;
	margin: 0 auto;
}

.waituk_newsletter-form .btn {
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0 auto;
	min-width: 10.5rem;
	display: block;
	font-weight: 500;
	padding: .7rem 1.071rem .7rem;
	line-height: 1.2;
}

.waituk_newsletter-form .btn.btn-trans-dark-gray {
	line-height: 1.2;
	padding: .9rem 1.071rem .7rem;
	color: #55565b;
}

.waituk_newsletter-form input[type='email'] {
	background: none;
	color: #55565b;
	border-color: #55565b;
	letter-spacing: 0rem;
}

.waituk_newsletter-form ::-webkit-input-placeholder {
	color: #55565b;
}

.waituk_newsletter-form :-moz-placeholder {
	color: #55565b;
}

.waituk_newsletter-form ::-moz-placeholder {
	color: #55565b;
}

.waituk_newsletter-form :-ms-input-placeholder {
	color: #55565b;
}

.waituk_newsletter-form.newsletter-v1 {
	max-width: 100%;
}

.waituk_newsletter-form.newsletter-v1 input[type='email'] {
	padding-right: 4.375rem;
}

.waituk_newsletter-form.newsletter-v1 .input-holder {
	float: none;
	width: 100%;
	max-width: 100%;
	margin: 0;
	position: relative;
}

.waituk_newsletter-form.newsletter-v1 .btn {
	position: absolute;
	right: .9375rem;
	top: 50%;
	min-width: auto;
	padding: 0 0;
	background: none;
	border: none;
	color: #55565b;
	-webkit-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.waituk_newsletter-form.newsletter-v2 {
	max-width: 100%;
}

.waituk_newsletter-form.newsletter-v2 .btn {
	min-width: 6.5rem;
}
