/*------------------------------------------------------------------
13. Testimonial / .testimonial-container
-------------------------------------------------------------------*/

/******* testimonial styles *******/

.testimonial-container .img-block {
	width: 5.625rem;
	height: 5.625rem;
	border-radius: 50%;
	margin: 1.214rem auto 2.5rem;
}

.testimonial-container .img-block img {
	border-radius: 50%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: -webkit-filter linear .3s;
	transition: -webkit-filter linear .3s;
	-o-transition: filter linear .3s;
	transition: filter linear .3s;
	transition: filter linear .3s, -webkit-filter linear .3s;
}

.testimonial-container h2 {
	color: #5645ff;
	font-weight: 300;
}

.testimonial-container .designation {
	color: #575757;
	text-transform: uppercase;
}

.testimonial-container .text-wrap {
	opacity: 0;
	position: relative;
}

.testimonial-container .designation {
	display: block;
}

.testimonial-container .owl-item.center .img-block {
	width: 7.875rem;
	height: 7.875rem;
	margin-top: 0;
}

.testimonial-container .owl-item.center .img-block img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.testimonial-container .owl-item.center .text-wrap {
	opacity: 1;
}
